
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family:  'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}

input:not([type=checkbox]):not([type=radio]):focus, 
select:focus, 
textarea:focus, 
button:focus:not(:focus-visible), 
a:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible, 
a:focus-visible, 
input[type=checkbox]:focus-visible, 
input[type=radio]:focus-visible {
  outline-offset: 4px;
}
