
input:not([type=checkbox]):not([type=radio]):focus, 
select:focus, 
textarea:focus, 
button:focus:not(:focus-visible), 
a:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible, 
a:focus-visible, 
input[type=checkbox]:focus-visible, 
input[type=radio]:focus-visible {
  outline-offset: 4px;
} 

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:  'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  background-color: rgba(186, 187, 183, 0.231);
}


.container {
  width: 76%;
  margin-inline: auto;
  max-width: 1920px;
}


section {
  padding: 5rem 0;
}
textarea::placeholder {
  text-align: start;
}

input::placeholder {
  text-align: center;
}

/* GENERAL SECTION STYLES */
a {
  color: white;
  transition: all 500ms ease;
}

/* GENERAL IMAGES STYLES */
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  /* body {
    font-size: 1rem;
  } */

}
